<%- include ('partials/header.ejs'); %>
  <% console.log(department) %>
  <% if(data.length > 0){  %>
    <div>
      <h2 style="padding-top: 20px;" id='department_header' class="text-center">THE <%=department.toUpperCase()%> DEPARTMENT</h2>
      <div class="flex-container">
        <% data.filter((data) => {
          return data.hodDepartment.toUpperCase() == department.toUpperCase() && data.status == 1; 
        }).forEach((x, i) => {%>
          <div>
            <a class="eachMember" href='/profile/<%=x.id%>'>
              <img src='<%=x.image_name.split(",")[0]%>' class="picp_img rounded-circle" />
              <h5>
                <%= (x.gender === 'male' ? 'Bro. '+ x.name : 'Sis. '+ x.name)%></h5>
              </h5>
              <h6 id='hod_caption'>HOD, <%=department.toUpperCase()%></h6>
            </a>

            <div class="status-switch" style="display: none">
              <input type="checkbox" data-id="<%=x.id%>" <%= (x.status==0)? "checked" : ""%> hidden="hidden" id="user<%=x.id%>">
              <label class="switch" for="user<%=x.id%>"></label>
            </div>
          </div>
        <%})%>
      </div>

      <div class="memberWithHiddenInput flex-container">
        <% data.filter((data) => {
          return data.hodDepartment.toUpperCase() != department.toUpperCase()  && data.status == 1;
        }).forEach((x, i) => {%>
          <div >
            <a class="eachMember" href='/profile/<%=x.id%>'>
              <img src='<%=x.image_name.split(",")[0]%>' class="pastor_img rounded-circle" />
              <h5>
                <%= 
                  (x.gender === 'male' ? 
                  ( x.position == 'Pastorate' ? 'Pastor '+ x.name  : 'Bro. '+ x.name  ) : 
                  ( x.position == 'Pastorate' ? 'Pastor(Mrs) '+ x.name : 'Sis. '+ x.name))
                %>
              </h5>
            </a>
            <div class="status-switch" style="display: none">
              <input type="checkbox" data-id="<%=x.id%>" <%= (x.status==0)? "checked" : ""%> hidden="hidden" id="user<%=x.id%>">
              <label class="switch" for="user<%=x.id%>"></label>
            </div>            
          </div>
        <%})%>
      </div>
    </div>
  <%} else {%>
    <h2 style="padding-top: 20px;" id='department_header' class="text-center"></h2>
    <h3 class="text-center">No Records found!</h3>
  <%}%>
</div> 
</div>
</body>
</html>