<%- include ('partials/header.ejs'); %>
  <% %>
  <div class="home_bg">
    <div class="text-center worship_text">
      <h2>......worship Him in spirit and in truth.</h3>
      <h3>John 4:24</h4>  
    </div>    
  </div>
  <div>
    <h3 style="padding: 20px;" class="text-center">The Ministers</h3>
    <div class="flex-container">
      <% data.filter((data) => {
        return data.name.search(/abioye/i) >= 0 
      }).sort((a, b) => {
        let aG = a.gender.toUpperCase();
        let bG = b.gender.toUpperCase();
        let comp = 0;
        comp = (aG > bG ? -1 : 1);
        return comp
      }).forEach((x, i) => { console.log(x)%>
        <div>
          <a href=''>
            <img src='<%=x.image_name%>' class="picp_img rounded-circle" />
            <h5><%= (x.gender === 'male' ? 'Pastor. '+ x.name : 'Pastor(Mrs). '+ x.name)%></h5>
            <h6><%= (x.gender === 'male' ? 'Pastor-In-Charge-of-Provice' : 'Wife of the PICP')%></h6>
          </a>
        </div>
      <%})%>
    </div>
    <div class="flex-container">
      <% data.filter((data) => {
        return data.position == 'Pastorate' && data.name.search(/abioye/i) < 0 
      }).forEach((x, i) => {%>
        <div class="hod_div">
          <img src='<%=x.image_name%>' class="pastor_img rounded-circle" />
          <h5><%= (x.gender === 'male' ? 'Pastor. '+ x.name : 'Pastor(Mrs). '+ x.name)%></h5>
          <h6>Pastor</h6>
        </div>
      <%})%>
    </div>
    <div class="flex-container">
      <% data.filter((data) => {
        return data.position == 'Minister'
      }).forEach((x, i) => {%>
        <div class="hod_div">
          <a href=''>
            <img src='<%=x.image_name%>' class="hod_img rounded-circle" />
            <h5><%= (x.gender === 'male' ? 'Bro. '+ x.name : 'Sis. '+ x.name)%></h5>
            <h6>Minister</h6>
          </a>
        </div>
      <%})%>
    </div>
    <div class="flex-container">
      <% data.filter((data) => {
        return data.position == 'HOD'
      }).forEach((x, i) => {%>
        <div class="hod_div">
          <a href=''>
            <img src='<%=x.image_name%>' class="hod_img rounded-circle" />
            <h5><%= (x.gender === 'male' ? 'Bro. '+ x.name : 'Sis. '+ x.name)%></h5>
            <h6>Head of Department</h6>
          </a>
        </div>
      <%})%>
    </div>
    <div class="flex-container">
      <% data.filter((data) => {
        return data.name == 'toyin'
      }).forEach((x, i) => {%>
        <div class="hod_div">
          <a href=''>
            <img src='<%=x.image_name%>' class="hod_img  rounded-circle" />
            <h5><%= (x.gender === 'male' ? 'Bro. Samuel': 'Sis. '+ x.name)%></h5>
            <h6>Minister</h6>
          </a>
        </div>
      <%})%>
    </div>
  </div>
  </div> 
</div>
</body>
</html>