<%- include ('partials/header.ejs'); %>
  <% if(data.length > 0){ %>
    <div>
      <h2 style="padding-top: 20px;" id='department_header' class="text-center"></h2>
      <!--h3 class="text-center">The PICP</h3>
        
      <div class="flex-container">
        <% data.filter((data) => {
          return data.name.search(/abioye/i) >= 0
        }).sort((a, b) => {
          let aG = a.gender.toUpperCase();
          let bG = b.gender.toUpperCase();
          let comp = 0;
          comp = (aG > bG ? -1 : 1);
          return comp
        }).forEach((x, i) => {%>
          <div>
            <a href='/profile/<%=x.id%>'>
              <img src='<%=x.image_name.split(",")[0]%>' class="picp_img rounded-circle" />
              <h5><%= (x.gender === 'male' ? 'Pastor. '+ x.name : 'Pastor(Mrs). '+ x.name)%></h5>
              <h6><%= (x.gender === 'male' ? 'Pastor-In-Charge-of-Provice' : 'Wife of the PICP')%></h6>
            </a>
          </div>
        <%})%>
      </div>

      <h3 class="text-center">The Pastors</h3>
      <div class="flex-container">
        <% data.filter((data) => {
          return data.name.search(/abioye/i) < 0 && data.position == 'Pastorate';
        }).forEach((x, i) => {%>
          <div>
            <a href='/profile/<%=x.id%>'>
              <img src='<%=x.image_name.split(",")[0]%>' class="pastor_img rounded-circle" />
              <h5><%= (x.gender === 'male' ? 'Pastor. '+ x.name : 'Pastor(Mrs). '+ x.name)%></h5>
              <h6> Pastorate </h6>
            </a>
          </div>
        <%})%>
      </div-->

      <h4 class="text-center">The Ministers</h4>
      <div class="memberWithHiddenInput flex-container">
        <% data.filter((data) => {
          return (data.position == 'Minister' || data.position == 'Pastorate') && data.status == 0; 
        }).forEach((x, i) => {%>
          <div>
            <a class="eachMember" href='/profile/<%=x.id%>'>
              <img src='<%=x.image_name.split(",")[0]%>' class="picp_img" />
              <h5>
                <%= (x.gender === 'male' ? 'Bro. '+ x.name : 'Sis. '+ x.name)%></h5>
              </h5>
              <h6 id='hod_caption'></h6>
            </a>

            <div class="status-switch" style="display: none">
              <input type="checkbox" data-id="<%=x.id%>" <%= (x.status==0)? "checked" : ""%> hidden="hidden" id="user<%=x.id%>">
              <label class="switch" for="user<%=x.id%>"></label>
            </div>
          </div>
        <%})%>
      </div>

      <h4 class="text-center">The Heads of Departments</h4>
      <div class="memberWithHiddenInput flex-container">
        <%  const getLocalStorage = JSON.parse(localStorage.getItem('user-data')); 
     
          data.filter((data) => {
          return data.position == 'HOD' && data.status == 0; 
        }).forEach((x, i) => {%>
          <div class="aCard">
            <a class="eachMember" href='/profile/<%=x.id%>'>
              <img src='<%=x.image_name.split(",")[0]%>' class="picp_img" />
              <h5>
                <%= (x.gender === 'male' ? 'Bro. '+ x.name : 'Sis. '+ x.name)%></h5>
              </h5>
              <h6 id='hod_caption'></h6>
            </a>
            <div class="status-switch" style="display: none">
              <input type="checkbox" data-id="<%=x.id%>" <%= (x.status==0)? "checked" : ""%> hidden="hidden" id="user<%=x.id%>">
              <label class="switch" for="user<%=x.id%>"></label>
            </div>    
          </div>
        <%})%>
      </div>

      <h5 class="text-center">The Workers</h5>
      <div class="memberWithHiddenInput flex-container">
        <% data.filter((data) => {
          return data.position == 'Worker' && data.status == 0; 
        }).forEach((x, i) => {%>
          <div>
            <a class="eachMember" href='/profile/<%=x.id%>'>
              <img src='<%=x.image_name.split(",")[0]%>' class="pastor_img" />
              <h5>
                <%= 
                  (x.gender === 'male' ? 
                  ( x.position == 'Pastorate' ? 'Pastor '+ x.name  : 'Bro. '+ x.name  ) : 
                  ( x.position == 'Pastorate' ? 'Pastor(Mrs) '+ x.name : 'Sis. '+ x.name))
                %>
              </h5>
            </a>

            <div class="status-switch" style="display: none">
              <input type="checkbox" data-id="<%=x.id%>" <%= (x.status==0)? "checked" : ""%> hidden="hidden" id="user<%=x.id%>">
              <label class="switch" for="user<%=x.id%>"></label>
            </div>
          </div>
        <%})%>
      </div>
    </div>
  <%} else {%>
    <h2 style="padding-top: 20px;" id='department_header' class="text-center"></h2>
    <h3 class="text-center">No Records found!</h3>
  <%}%>
</div> 
</div>
</body>
</html>